<div class="row">
  <div class="span10">
    <div style="display: table;">
    <div class="well well-small"><%= link_to "Ремонт и дизайн помещений", service_path(1) %></div>
      <% @services.first.companies.limit(6).each_slice(3) do |company_by_3| %>
    <div class="row" style="display: table-row">
      <div class="well well-large" style="display: inline-block; padding-left: 20px;">
      <% company_by_3.each do |company| %>
        <div class="span3" style="display: inline-block">
      <div class="media">
        <%=link_to(image_tag(company.logo_url, :height => "60px", :width => "60px"), company, :class=>"pull-left media-object") %>
        <div class="media-body">
          <h5 class="media-heading"><%= link_to company.name, company %></h5>
          <%=company.slogan %>
        </div>     
      </div>
      </div>
    <% end %>
      </div>
    </div>
    <% end %>
    </div>
  </div>
    
  <div class="span2">
    <div class="well well-small">VIP</div>
  </div>
</div>

<div class="row">
  <div class="span10">
    <div style="display: table;">
    <div class="well well-small"><%= link_to "Прочие услуги", services_path %></div>
      <% @companies.each_slice(3) do |company_by_3| %>
    <div class="row" style="display: table-row">
      <div class="well well-large" style="display: inline-block; padding-left: 20px;">
      <% company_by_3.each do |company| %>
        <div class="span3" style="display: inline-block">
      <div class="media">
        <%=link_to(image_tag(company.logo_url, :height => "60px", :width => "60px"), company, :class=>"pull-left media-object") %>
        <div class="media-body">
          <h5 class="media-heading"><%=company.name %></h5>
          <%=company.slogan %>
        </div>     
      </div>
      </div>
    <% end %>
      </div>
    </div>
    <% end %>
    </div>
  </div>
    
  <div class="span2">
    <div class="well well-small">VIP</div>
  </div>
</div>

<%= link_to 'Добавить', new_service_path unless !admin_signed_in? %>
