<%= semantic_form_for @company, :html => { :class => 'form-horizontal', :multipart => true} do |f| %>
  <div class="control-group">
    <%= f.label "Название*", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field', :placeholder => "Электрик" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Слоган", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :slogan, :class => 'text_field', :placeholder => "Быстрый и качественный ремонт в короткие сроки" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Режим работы*", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :schedule, :class => 'text_area', :placeholder => "Пн-пт 10:00 - 20:00" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Опыт работы*", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :experience, :class => 'text_area', :placeholder => "5 лет в сфере отделки" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Телефон*", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => 'text_field', :placeholder => "8 911 123-45-67" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Контактное лицо*", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact_person, :class => 'text_field', :placeholder => "Иванов Иван Иванович" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Метро*", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :metro, :class => 'text_field', :placeholder => "Невский проспект" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Адрес", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_area', :placeholder => "пр.Ленина, 1" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Обо мне", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :notes, :class => 'text_area' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Услуги", :class => 'control-label' %>
    <div class="controls">
      <%= f.input :services, :as => :check_boxes, :label => ''  %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Загрузить логотип", :class => 'control-label' %>
    <div class="controls">
      <%= f.input :logo, :as => :file  %>
    </div>
  </div>


<%= f.input :state, :as => :hidden, :value => '1' %>



  <div class="form-actions">
    <%= f.submit "Сохранить", :class => 'btn btn-primary' %>
    <%= link_to "Отмена", companies_path, :class => 'btn' %>
  </div>
<% end %>
