<h3>Фото галерея</h3>
<% if @company.pictures.any? %>
<div class="links">
<%= form_for @company, :html => {:multipart => true} do |f| %>
<%= f.fields_for :pictures do |ff| %>
 
        <%= image_tag ff.object.image_url.to_s%> 
        <%= ff.check_box :_destroy%>

      <% end  %>
  <br/>
    <%= submit_tag("Удалить") %>
  <% end %>
</div>
          <small>Для удаления фото, отметить нужные и нажать "удалить"</small>
<hr>
<%end%>
<string>Добавить фотографии</strong>

<input id="uploadify" name="uploadify" type="file" />
<script type='text/javascript'>
var uploadify_data = {
  'AWSAccessKeyId': '<%= @uploadify_data[:access_key] %>',
  'bucket': '<%= @uploadify_data[:bucket] %>',
  'acl': 'private',
  'key': '<%= @uploadify_data[:key] %>${filename}',
  'signature': '<%= @uploadify_data[:signature] %>',
  'policy': '<%= @uploadify_data[:policy] %>',
  'success_action_status': '<%= @uploadify_data[:sas] %>',
  'folder': '',
  'Filename': ''
}
 
function uploadify_success(file, data, response) { 
  var res_key = $(data).find("key").text();
  
  
  $.ajax({
    url: "#",
    type: "POST",
    data: {'key_param':res_key}
  }).success(function(data) {
});
  
}
 
$(document).ready(function() {
  $('#uploadify').uploadify({
    
    uploader:         "<%= @s3_url %>",
    formData:         uploadify_data,
    fileSizeLimit:    <%= @uploadify_data[:filesize] %>,
    fileObjName:      "file", // Necessary, DO NOT remove this.
    onUploadSuccess:  uploadify_success,
    multi:            true
  })
})

</script>
