<div class="row">
<div class="span10">
  

  <h2><%= @company.name %></h2><% if @company.state=="1" %><small>(Частное Лицо)</small><%end%>
    <blockquote>
      <p><%= @company.slogan %></p>
    </blockquote>


<%= image_tag((@company.logo_url.nil? ? asset_path("sign.jpg") : @company.logo_url), :height => "100px", :width => "500px", :class => "logo_show") %>
<br/>
<p>
  <strong>Телефон:</strong>
  <%= @company.phone %>
</p>
  
<% if !@company.contact_person.blank? %>
<p>
  <strong>Контактное лицо:</strong>
  <%= @company.contact_person %>
</p>
<% end %>
  
<% if !@company.experience.blank? %>
<p>
  <strong>Опыт работы:</strong>
  <%= @company.experience %>
</p>
<% end %>
  
<% if !@company.address.blank? %>  
<p>
  <strong>Адрес:</strong>
  <%= @company.address %>
</p>
<% end %>
  
<% if !@company.site.blank? %>  
<p>
  <strong>Сайт:</strong>
  <%= @company.site %>
</p>
<%end%>
  
<% if !@company.notes.blank? %>  
<p>
  <strong>О нас:</strong>
  <div><%= @company.notes %></div>
</p>
<%end%>


<% if @pictures.any? %>
<strong>Портфолио:</strong>
<div id="links" class="links">
<% @pictures.each do |pic| %>

  <%= link_to(image_tag(pic.image_url.to_s), pic.image_url.to_s) %> 

<% end %> 

</div>

  <div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<% end %>


<% if admin_signed_in? or (user_signed_in? and @company.user_id==current_user.id) then %>
  
<strong>Ваши лпдаченые подписки:</strong>    
    <% @csasses.each do |cs| %>
  <%= cs.service.name %>::<%= cs.subscription_until %><br/>
    Subscription_type:<%= cs.subscription_type %><br/>
    Subscription_date:<%= cs.subscription_date %><br/>
    Subscription_until:<%= cs.subscription_until %><br/><br/><br/>
  <% end %>
  
<div>
  <h4>
    Поднять объявление в топ!
  </h4>
Ваше объявление окажется на главной странице!
  Всего за 999р.<br/>
<small>Пожалуйста, укажите в комментарии название вашей компании и название оплачиваемого раздела</small>
  
<iframe allowtransparency="true" src="https://money.yandex.ru/embed/small.xml?uid=410011974575224&amp;button-text=01&amp;button-size=m&amp;button-color=white&amp;targets=VIP_%D0%BE%D0%B1%D1%8A%D1%8F%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5&amp;default-sum=999&amp;mail=on" frameborder="0" height="42" scrolling="no" width="auto"></iframe>
 
</div>
<div class="form-actions">

  <%= link_to "Изменить", edit_company_path(@company), :class => 'btn' %>
  <%= link_to "Удалить",
              company_path(@company),
              :method => 'delete',
              :data => { :confirm => "Вы уверены?" },
              :class => 'btn btn-danger' %>
  <%= link_to "Добавить фотографии", gallery_path, :class => 'btn' %>
</div>
<% end %>
</div>
<div class="span2">
    <div class="well well-small">VIP</div>
    <div class="well well-medium" style="text-align:center"><h3>здесь может быть ваша реклама</h3></div>
</div>

</div>


<script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>