<%- model_class = Company -%>

  <h2><%= @company.name %></h2>
    <blockquote>
      <p><%= @company.slogan %></p>
    </blockquote>


<%= image_tag(@company.logo_url, :height => "100px", :width => "500px", :class => "logo_show") %>
<br/>
<p>
  <strong>Телефон:</strong>
  <%= @company.phone %>
</p>

<p>
  <strong>Контактное лицо:</strong>
  <%= @company.contact_person %>
</p>

<p>
  <strong>Адрес:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Сайт:</strong>
  <%= @company.site %>
</p>

<p>
  <strong>О компании:</strong>
  <div><%= @company.notes %></div>
</p>


<p>
  <strong>Услуги: </strong>
  <ul>
  <% @csasses.each do |cs| %>
    <li><%= link_to cs.service.name, cs.service %> <%= if admin_signed_in? or @company.user_id==current_user.id then if cs.subscription_type==1 then " (оплачено до #{cs.subscription_until.strftime("%m/%d/%Y")})" end end%></li>
  <% end %>
  </ul>
</p>


<% if admin_signed_in? or @company.user_id==current_user.id then %>
<div class="form-actions">

  <%= link_to "Изменить", edit_company_path(@company), :class => 'btn' %>
  <%= link_to "Удалить",
              company_path(@company),
              :method => 'delete',
              :data => { :confirm => "Вы уверены?" },
              :class => 'btn btn-danger' %>
</div>
<% end %>